@import url("https://fonts.googleapis.com/css?family=Caveat");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");

:root { /* charcoal: 424B54, sage: CDC6A5 */
  --titleColor: #9B9ECE;
  --sectionTitleColor: #CDC6A5;
  --navColor: #424B54;
}

h1 {
  margin: 10px;
  text-align: center;
}
.titles {
  color: var(--titleColor);
  font-family: "Caveat";
  font-size: 3.7em;
}

body {
  background-color: white;
}

/* navbar */
.navbar {
  text-align: center;
}

.navbar a:hover {
  color: #CDC6A5;
}

.navbar a {
  color: var(--navColor);
  text-decoration: none;
  font-size: 0.96em;
  padding: 5px 9px;
  width: 25%;
  font-family: "Lato";
}

.navbar .current {
  color: #CDC6A5;
  font-weight: bold;
}

.navbar .current:hover {
  color: var(--navColor);
  font-weight: bold;
}

/* about me */
.about {
  position: relative;
  text-align: center;
  margin-top: 5%;
}

.about .section-title {
  color: var(--sectionTitleColor);
  font-size: 2.4em;
  font-family: "Caveat";
}

.about .upper-title {
  color: #424B54;
  font-size: 1.2em;
  font-family: "Inconsolata";
  margin-bottom: 3%;
}

.about .text-wrapper {
  position: relative;
  color: black;
  margin-bottom: 20%;
  padding-left: 30%;
  padding-right: 30%;
  line-height: 1.1em;
  font-size: 1.1em;
  font-family: "Inconsolata";
}

.about .img-box {
  margin-bottom: 3%;
}

.about .main-img {
  border-radius: 50%;
  border: 5px solid #9B9ECE;
}

/* connect */
.connect {
  position: relative;
  text-align: center;
  margin-top: 5%;
}

.connect .section-title {
  color: var(--sectionTitleColor);
  font-size: 2.4em;
  font-family: "Caveat";
}

.connect .text-wrapper {
  position: relative;
  color: black;
  margin-bottom: 20%;
  padding-left: 30%;
  padding-right: 30%;
  line-height: 1.1em;
  font-size: 1.1em;
  font-family: "Inconsolata";
}

/* homepage image */
.homeimg {
  padding: 70px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hyperlink {
  color: #9B9ECE;
  text-decoration: none;
}

/* artwork gallery */

.artwork {
  position: relative;
  text-align: center;
  margin-top: 5%;
  padding-left: 70px;
  padding-right: 70px;
}

.artwork .section-title {
  color: var(--sectionTitleColor);
  font-size: 2.4em;
  font-family: "Caveat";
}

.row {
  display: flex;
  padding: 0 4px;
}

.col {
  flex: 33.3%;
  max-width: 33.3%;
  padding: 0 4px;
}

.col img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .col {
    flex: 48.5%;
    max-width: 48.5%;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0;
  }
}

@media screen and (max-width: 700px) {
  .col {
    flex: 100%;
    max-width: 100%;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0;
  }
}
